---
repository: https://github.com/pewaru-333/HomeMedkit-App.git
updates: releases
notes:
  - 'FIXME: local.properties'
  - 'FIXME: embedded commit hash mismatch for 1.2.1'
versions:
  - tag: 1.2.1
    apks:
      - apk_pattern: HomeMedkit\.apk
        apk_url: https://github.com/pewaru-333/HomeMedkit-App/releases/download/$$TAG$$/HomeMedkit.apk
        build:
          - git reset --soft 3875c8f3612748fa4b647760108aca0ee7651b65
          - printf 'BASE_URL="https://mobile.api.crpt.ru/"\nAPI_URL="mobile/check"\n' >> local.properties
          - chmod +x gradlew
          - ./gradlew assembleRelease
          - mv app/build/outputs/apk/release/app-release-unsigned.apk /outputs/unsigned.apk
        build_home_dir: /build
        build_repo_dir: /build/repo
        build_user: build
        provisioning:
          android_home: /opt/sdk
          build_tools:
          cmake:
          cmdline_tools:
            version: '12.0'
            url: https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
            sha256: 2d2d50857e4eb553af5a6dc3ad507a17adf43d115264b1afc116f95c92e5e258
          extra_packages: []
          image: debian:bookworm-slim
          jdk: openjdk-17-jdk-headless
          ndk:
          platform:
          platform_tools:
          tools:
          verify_gradle_wrapper: true
