---
repository: https://github.com/pewaru-333/HomeMedkit-App.git
updates: releases
notes:
  - 'NB: not reproducible'
  - 'FIXME: compose-destinations UUID'
  - 'FIXME: embedded commit hash mismatch for 1.2.1, 1.3.3'
versions:
  - tag: 1.2.1
    apks:
      - apk_pattern: HomeMedkit\.apk
        apk_url: https://github.com/pewaru-333/HomeMedkit-App/releases/download/$$TAG$$/HomeMedkit.apk
        build:
          - git reset --soft 3875c8f3612748fa4b647760108aca0ee7651b65
          - printf 'BASE_URL="https://mobile.api.crpt.ru/"\nAPI_URL="mobile/check"\n' >> local.properties
          - chmod +x gradlew
          - ./gradlew assembleRelease
          - mv app/build/outputs/apk/release/app-release-unsigned.apk /outputs/unsigned.apk
        build_home_dir: /build
        build_repo_dir: /build/repo
        build_user: build
        provisioning:
          android_home: /opt/sdk
          build_tools:
          cmake:
          cmdline_tools:
            version: '12.0'
            url: https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
            sha256: 2d2d50857e4eb553af5a6dc3ad507a17adf43d115264b1afc116f95c92e5e258
          extra_packages: []
          image: debian:bookworm-slim
          jdk: openjdk-17-jdk-headless
          ndk:
          platform:
          platform_tools:
          tools:
          verify_gradle_wrapper: true
  - tag: 1.3.3
    apks:
      - apk_pattern: HomeMedkit\.apk
        apk_url: https://github.com/pewaru-333/HomeMedkit-App/releases/download/$$TAG$$/HomeMedkit.apk
        build:
          - git reset --soft 350e87c29b8895c69076b19441d9c21c5800af36
          - chmod +x gradlew
          - ./gradlew assembleRelease
          - mv app/build/outputs/apk/release/app-release-unsigned.apk /outputs/unsigned.apk
        build_home_dir: /build
        build_repo_dir: /build/repo
        build_user: build
        provisioning:
          android_home: /opt/sdk
          build_tools:
          cmake:
          cmdline_tools:
            version: '12.0'
            url: https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
            sha256: 2d2d50857e4eb553af5a6dc3ad507a17adf43d115264b1afc116f95c92e5e258
          extra_packages: []
          image: debian:bookworm-slim
          jdk: openjdk-17-jdk-headless
          ndk:
          platform:
          platform_tools:
          tools:
          verify_gradle_wrapper: true
  - tag: 1.3.4
    apks:
      - apk_pattern: HomeMedkit\.apk
        apk_url: https://github.com/pewaru-333/HomeMedkit-App/releases/download/$$TAG$$/HomeMedkit.apk
        build:
          - git reset --soft dc8db5ddbcea7bf5ed6c4e33a1c3695c94645a18
          - chmod +x gradlew
          - ./gradlew assembleRelease
          - mv app/build/outputs/apk/release/app-release-unsigned.apk /outputs/unsigned.apk
        build_home_dir: /build
        build_repo_dir: /build/repo
        build_user: build
        provisioning:
          android_home: /opt/sdk
          build_tools:
          cmake:
          cmdline_tools:
            version: '12.0'
            url: https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
            sha256: 2d2d50857e4eb553af5a6dc3ad507a17adf43d115264b1afc116f95c92e5e258
          extra_packages: []
          image: debian:bookworm-slim
          jdk: openjdk-17-jdk-headless
          ndk:
          platform:
          platform_tools:
          tools:
          verify_gradle_wrapper: true
  - tag: 1.3.5
    apks:
      - apk_pattern: HomeMedkit\.apk
        apk_url: https://github.com/pewaru-333/HomeMedkit-App/releases/download/$$TAG$$/HomeMedkit.apk
        build:
          - git reset --soft 960dcd5cd32461f28625481d4e115cb04a593979
          - chmod +x gradlew
          - ./gradlew assembleRelease
          - mv app/build/outputs/apk/release/app-release-unsigned.apk /outputs/unsigned.apk
        build_home_dir: /build
        build_repo_dir: /build/repo
        build_user: build
        provisioning:
          android_home: /opt/sdk
          build_tools:
          cmake:
          cmdline_tools:
            version: '12.0'
            url: https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
            sha256: 2d2d50857e4eb553af5a6dc3ad507a17adf43d115264b1afc116f95c92e5e258
          extra_packages: []
          image: debian:bookworm-slim
          jdk: openjdk-17-jdk-headless
          ndk:
          platform:
          platform_tools:
          tools:
          verify_gradle_wrapper: true
  - tag: 1.3.6
    apks:
      - apk_pattern: HomeMedkit\.apk
        apk_url: https://github.com/pewaru-333/HomeMedkit-App/releases/download/$$TAG$$/HomeMedkit.apk
        build:
          - git reset --soft 24176de722790485a2d444bd2a60bf29c01ff651
          - chmod +x gradlew
          - ./gradlew assembleRelease
          - mv app/build/outputs/apk/release/app-release-unsigned.apk /outputs/unsigned.apk
        build_home_dir: /build
        build_repo_dir: /build/repo
        build_user: build
        provisioning:
          android_home: /opt/sdk
          build_tools:
          cmake:
          cmdline_tools:
            version: '12.0'
            url: https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip
            sha256: 2d2d50857e4eb553af5a6dc3ad507a17adf43d115264b1afc116f95c92e5e258
          extra_packages: []
          image: debian:bookworm-slim
          jdk: openjdk-17-jdk-headless
          ndk:
          platform:
          platform_tools:
          tools:
          verify_gradle_wrapper: true
