certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
git+https://github.com/obfusk/apksigcopier.git@v1.1.1
git+https://github.com/obfusk/reproducible-apk-tools.git@v0.3.0
idna==3.10
pydantic==2.10.1
requests==2.32.3
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
urllib3==2.2.3
