attrs==24.3.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
git+https://github.com/obfusk/apksigcopier.git@v1.1.1
git+https://github.com/obfusk/reproducible-apk-tools.git@v0.3.0
idna==3.10
jsonschema-specifications==2024.10.1
jsonschema==4.23.0
referencing==0.36.1
requests==2.32.3
rpds-py==0.23.1
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
urllib3==2.3.0
