certifi==2024.12.14
charset-normalizer==3.4.0
click==8.1.8
git+https://github.com/obfusk/apksigcopier.git@v1.1.1
git+https://github.com/obfusk/reproducible-apk-tools.git@v0.3.0
idna==3.10
requests==2.32.3
ruamel.yaml==0.18.9
ruamel.yaml.clib==0.2.12
urllib3==2.3.0
